Source: neko
Section: interpreters
Priority: optional
Maintainer: Jens Peter Secher <jps@debian.org>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5), dpatch, pkg-config, libgc-dev, apache2-threaded-dev, libmysqlclient15-dev, libsqlite3-dev, libpcre3-dev, libapr1-dev, libgtk2.0-dev
Build-Conflicts: neko
Homepage: http://nekovm.org

Package: neko
Architecture: any
Depends: ${shlibs:Depends}
Description: High-level dynamically typed programming language
 Neko has been designed to provide a common runtime for several
 different languages, including JavaScript and haXe.
 .
 The compiler converts a source file (.neko) into a bytecode file (.n)
 that can be executed with the Virtual Machine. You can use the
 compiler as standalone commandline executable separated from the VM,
 or as a Neko library to perform compile-and-run for interactive
 languages.
 . 
 The virtual machine is both very lightweight and well optimized. It
 can be easily embedded into other applications, and libraries are
 directly accessible using the C foreign function interface.
 .
 Neko was written by Nicolas Cannasse.

Package: libapache2-mod-neko
Section: web
Architecture: all
Depends: neko (>= ${source:Version}), apache2-mpm-prefork
Description: Apache module for running server-side neko programs
 Neko has been designed to provide a common runtime for several
 different languages, including JavaScript and haXe.
 .
 This package includes a module for Apache 2 so that you can
 dynamically generate server-side web pages from Apache.
 .
 Neko was written by Nicolas Cannasse.
