Source: neko
Section: interpreters
Priority: optional
Maintainer: Jens Peter Secher <jps@debian.org>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 4), dpatch, pkg-config, libgc-dev, apache-dev, apache2-dev, libmysqlclient15-dev | libmysqlclient10-dev, libsqlite3-dev, libpcre3-dev, libapr1-dev | libapr0-dev
Build-Conflicts: neko

Package: neko
Architecture: any
Depends: ${shlibs:Depends}
Description: High-level dynamically typed programming language
 Neko has been designed to provide a common runtime for several
 different languages, including JavaScript and haXe.
 .
 The compiler converts a source file (.neko) into a bytecode file (.n)
 that can be executed with the Virtual Machine. You can use the
 compiler as standalone commandline executable separated from the VM,
 or as a Neko library to perform compile-and-run for interactive
 languages.
 . 
 The virtual machine is both very lightweight and well optimized. It
 can be easily embedded into other applications, and libraries are
 directly accessible using the C foreign function interface.
 .
 This package also includes modules for Apache 1.3 and 2-prefork
 so that you can dynamically generate server-side web pages from
 Apache.  The modules do not work with Apache 2-worker.
 .
 Neko was written by Nicolas Cannasse and more information can be
 found at http://nekovm.org
