#!/usr/bin/make -f
# debian/rules for neko.

# Compile options
cflags := -Wall -fPIC -fomit-frame-pointer -I vm -DCOMPACT_TABLE -g
ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	cflags += -O3
else
	cflags += -O0
endif

# Use dpatch
include /usr/share/dpatch/dpatch.make

build: patch-stamp build-stamp
build-stamp: 
	dh_testdir
	make CFLAGS="$(cflags)"
	touch $@

binary-indep: build-stamp
	dh_testdir
	dh_testroot
	dh_install -plibapache2-mod-neko
	dh_installdocs -plibapache2-mod-neko
	dh_installchangelogs -plibapache2-mod-neko CHANGES
	dh_compress -plibapache2-mod-neko
	dh_fixperms -plibapache2-mod-neko
	dh_installdeb -plibapache2-mod-neko
	dh_gencontrol -plibapache2-mod-neko
	dh_md5sums -plibapache2-mod-neko
	dh_builddeb -plibapache2-mod-neko

binary-arch: build-stamp
	dh_testdir
	dh_testroot
	dh_install -pneko
	mkdir -p $(CURDIR)/debian/neko/usr/share/lintian/overrides
	cp $(CURDIR)/debian/neko.lintian-overrides $(CURDIR)/debian/neko/usr/share/lintian/overrides/neko
	dh_installdocs -pneko
	dh_installchangelogs -pneko CHANGES
	dh_installman -pneko debian/neko.1 debian/nekoc.1 debian/nekotools.1
	dh_compress -pneko
	dh_fixperms -pneko
	dh_installdeb -pneko
	dh_shlibdeps -pneko
	dh_gencontrol -pneko
	dh_md5sums -pneko
	dh_builddeb -pneko

binary: binary-indep binary-arch

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	-rm -f *-stamp
	make clean
	dh_clean

.PHONY: binary binary-indep binary-arch build clean clean-patched
